<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rcarb.flightservice">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:authorities="com.example.rcarb.flightservice"
            android:name="com.example.rcarb.flightservice.data.FlightContentProvider"
            android:exported="false"
            tools:ignore="ExportedContentProvider">

        </provider>
        <service android:name=".service.FlightIntentService"
            android:exported="false">

        </service>
        <service android:name=".service.SetupFlightJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <service android:name=".service.AlarmService"/>
        <service android:name=".service.SecondAlarmService"/>
        <service android:name=".service.AllDayAlarmService" />
        <service android:name=".service.SetupTimeFrameService" />
        <service android:name=".service.SetupTenPmAlarmService"/>
        <service android:name=".service.RestartDayService" />

        <receiver android:name=".receivers.ProcessAlarmReceiver"
            android:exported="false" />
        <receiver android:name=".receivers.ProcessSecondAlarmReceiver"
            android:exported="false"/>
        <receiver android:name=".receivers.AllDayAlarmReciever"
            android:exported="false"/>
        <receiver android:name=".receivers.AlarmTimeFrameReceiver"
            android:exported="false"/>
        <receiver android:name=".receivers.TenPmAlarmReceiver"
            android:exported="false"/>
        <receiver android:name=".receivers.RestartDayReceiver"
            android:exported="false"/>
    </application>

</manifest>